<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>HelloBooks</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="includes/bootstrap3.3.7/css/bootstrap.min.css">
   <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/jquery-3.2.0.js"></script>
    <script type="text/javascript" src="includes/bootstrap3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#routes">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                
                <a href="#" class="navbar-brand"><img src="images/logo.gif"></a>
                <!-- links -->
                
                <div class="collapse navbar-collapse navbar-right" id="routes">
                    <ul class="nav navbar-nav">
                        <li><a href="">Home</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">Register</a></li>
                    </ul>
                </div>
            </div>
        </nav>

         <div class="container-fluid footer">
             <div class="item" align="center">
                 <h1>Hello-Books</h1>
                 <p><strong>Hello-Books</strong> is an e-library website where registered members can get unlimited access to books</p><br>
                 <p>all accross the globe.</p><br>
                    <div class="item">
                        <p>PLUNGE INTO THE WONDERFUL WORLD OF READING</p>
                    </div>
                <div class="btn1">
                    <button type="button" class="btn btn-default btn-lg"><a href="register.html">Register</a></button>

                </div>
                <div class="btn2">
                    <button type="button" class="btn btn-default btn-lg"><a href="login.html">Login</a></button>

                </div>

             </div>

         </div>   

        <!--<div class="container content-holder">
            <div class="row">
                <div class="col-md-4">
                    <div class="item">
                        <h1>Hello-Books</h1>
                            <p><strong>Hello-Books</strong> is an e-library website where registered members can get unlimited access to books</p>
                            <br> 
                            <p>all accross the globe.</p>

                    </div>

                    <div class="item">
                        <p>PLUNGE INTO THE WONDERFUL WORLD OF READING</p>
                    </div>
                </div>-->

                <!-- <div class="col-md-4"> -->
                <!--</div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-default btn-lg"><a href="register.html">Register</a></button>

                </div>
                <div>
                    <button type="button" class="btn btn-default btn-lg"><a href="login.html">Login</a></button>

                </div>-->
            </div>
         </div>


         <!--<div class="container-fluid footer">
             <div class="item" align="center">
                 <h1>About Us</h1><br>
                 <p><strong>Hello-Books</strong> is an e-library website where registered members can get unlimited access to books</p><br>
                 <p>all accross the globe.</p>
             </div>
         </div>-->
</body>
</html>