<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>Register</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="includes/bootstrap3.3.7/css/bootstrap.min.css">
   <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/jquery-3.2.0.js"></script>
    <script type="text/javascript" src="includes/bootstrap3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container" align="center">
		<h3>Welcome Back! Please sign in</h3>
        	<form action="">
        		<div class="form-group">
         			<label for="email">Email</label>
         				<div class="">
         					<div class="input-group col-md-4">
            					<input type="text" maxlength="20" placeholder="you@example.com" class="form-control" name="email" id="email">
            				</div>
            			</div>
            	</div>

            	<div class="form-group">
         			<label for="pwd">Password</label>
         				<div class="">
         					<div class="input-group col-md-4">
            					<input type="text" maxlength="" placeholder="***************" class="form-control" name="pwd" id="pwd">
            				</div>
            			</div>
            	</div>

                <div class="form-group">
                    <div class="">
                        <button type="submit" class="btn btn-default btn-lg">Log In</button>
                        
                </div>
                
            	<div class="form-group">
            		<div class="">
         				<label class="checkbox-inline">
         					<input type="checkbox" value="agree"> Remember Me
         				</label>
         			</div>
            	</div> 

                <div class="form-group">
                    <h5>Don't have an account? <a href="register.html">Register</a></h5>
                </div>

            </form>
	</div>
</body>
</html>