<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>Profile</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="includes/bootstrap3.3.7/css/bootstrap.min.css">
   <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/jquery-3.2.0.js"></script>
    <script type="text/javascript" src="includes/bootstrap3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#routes">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                
                <a href="#" class="navbar-brand"><img src="images/logo.gif"></a>
                <!-- links -->
                
                <div class="collapse navbar-collapse navbar-right" id="routes">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="library.html">My Library</a></li>
                        <li><a href="borrowbook.html">Borrow</a></li>
                        <!-- <li><a href="">View Books</a></li> -->
                    </ul>
                </div>
            </div>
        </nav>

        <div align="center">
        	<h2>Hello-Books</h2>
        	<h4>Profile</h4>
        </div>

        <div class="profile-img" align="center">
        	<img src="images/profile.png">
        	<h2>Personal info</h2>
        	<h4>First Name: Samuel</h4>
        	<h4>Last Name: Abudu</h4>
        	<h4>Email: you@example.com</h4>
        	<h4>Membership level: Silver</h4>
        	<h4>Joined: 23/12/2017</h4>
        </div>
</body>
</html>