<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>Register</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="includes/bootstrap3.3.7/css/bootstrap.min.css">
   <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/jquery-3.2.0.js"></script>
    <script type="text/javascript" src="includes/bootstrap3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container" align="center">
		<h3>New to Hello-Books?</h3><br>
		<p>Register to join over one million memebers</p>
        	<form action="">
        		<div class="form-group">
         			<label for="firstName">First Name</label>
         				<div class="">
         					<div class="input-group col-md-4">
            					<input type="text" maxlength="20" placeholder="Enter First Name" class="form-control" name="firstName" id="firstName">
            				</div>
            			</div>
            	</div>

            	<div class="form-group">
         			<label for="lastName">Last Name</label>
         				<div class="">
         					<div class="input-group col-md-4">
            					<input type="text" maxlength="20" placeholder="Enter Last Name" class="form-control" name="lastName" id="lastName">
            				</div>
            			</div>
            	</div>

            	<div class="form-group">
         			<label for="email">Email</label>
         				<div class="">
         					<div class="input-group col-md-4">
            					<input type="email" maxlength="" placeholder="you@example.com" class="form-control" id="email" name="email">
            				</div>
            			</div>
            	</div>

            	<div class="form-group">
         			<label for="pwd">Password</label>
         				<div class="">
         					<div class="input-group col-md-4">
            					<input type="password" maxlength="" placeholder="***************" class="form-control" name="pwd" id="pwd">
            				</div>
            			</div>
            	</div>

            	<div class="form-group">
         			<label for="confirm">Confirm Password</label>
         				<div class="">
         					<div class="input-group col-md-4">
            					<input type="password" maxlength="" placeholder="***************" class="form-control" name="confirm" id="confirm">
            				</div>
            			</div>
            	</div>

            	<div class="form-group">
            		<div class="">
         				<label class="checkbox-inline">
         					<input type="checkbox" value="agree"> I agree to the <a href="#">Terms and Conditions</a>
         				</label>
         					
            		</div>
            	</div> 

                 <div class="form-group">
                    <h5>Already have an account? <a href="login.html">Log In</a></h5>
                </div>

            </form>
	</div>
</body>
</html>